:root {
  --index: calc(1vh + 1vw);
}
body {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: auto;
}
div#board {
  position: relative;
  width: calc(var(--index) * 57);
  height: calc(var(--index) * 49);
  margin: auto;
  background: url(../images/board.jpg) no-repeat;
  background-size: cover;
}

tbody:hover {
  cursor: pointer;
}

div#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(93, 136, 28, 0.99);
  font-size: calc(var(--index) * 2);
}
table {
  position: absolute;
  left: calc(var(--index) * 10);
  top: calc(var(--index) * 5.4);
  border-spacing: 0px;
  /* border: 1px solid #36600e; убрать по готовности*/
}
td {
  width: calc(var(--index) * 5.17);
  height: calc(var(--index) * 5.29);
  /* border: 1px solid #36600e; убрать по готовности*/
}
form {
  position: absolute;
  top: calc(var(--index) * 2.2);
  right: 38%;
  transform: translateX(95%);
  padding: calc(var(--index) * 0.5);
  background: #36600e;
  background: -moz-linear-gradient(
    -45deg,
    #36600e 0%,
    #304f09 50%,
    #1a2a05 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #36600e 0%,
    #304f09 50%,
    #1a2a05 100%
  );
  background: linear-gradient(135deg, #36600e 0%, #304f09 50%, #1a2a05 100%);
  border-radius: 20px;
}
form input {
  background: #36600e;
  background: -moz-radial-gradient(
    center,
    #36600e 0%,
    #304f09 50%,
    #1a2a05 100%
  );
  background: -webkit-radial-gradient(
    center,
    #36600e 0%,
    #304f09 50%,
    #1a2a05 100%
  );
  background: radial-gradient(
    ellipse at center,
    #36600e 0%,
    #304f09 50%,
    #1a2a05 100%
  );
  font-size: calc(var(--index) * 1);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
#fireButton {
  color: #e40000;
}
.hit {
  background: url(../images/ship.png) no-repeat;
  background-position: center;
  background-size: calc(var(--index) * 4.8);
}
.miss {
  background: url(../images/miss.png) no-repeat;
  background-position: center;
  background-size: calc(var(--index) * 4.8);
}
